In [40]:
import pandas as pd
from scipy import stats
from statsmodels.stats.power import ttest_power
import numpy as np

In [17]:
df = pd.read_csv("Sales.csv", index_col='SALESPERSON')
df

             Old Scheme (in thousands)  New Scheme (in thousands)
SALESPERSON
1                                   57                         62
2                                  103                        122
3                                   59                         54
4                                   75                         82
5                                   84                         84
6                                   73                         86
7                                   35                         32
8                                  110                        104
9                                   44                         38
10                                  82                        107
11                                  67                         84
12                                  64                         85
13                                  78                         99
14                                  53                         39
15                                  41                         34
16                                  39                         58
17                                  80                         73
18                                  87                         53
19                                  73                         66
20                                  65                         78
21                                  28                         41
22                                  62                         71
23                                  49                         38
24                                  84                         95
25                                  63                         81
26                                  77                         58
27                                  67                         75
28                                 101                         94
29                                  91                        100
30                                  50                         68

In [18]:
#Find the mean of old scheme and new scheme column. (5 points)
mean_Old = df['Old Scheme (in thousands)'].mean()
mean_New = df['New Scheme (in thousands)'].mean()
print('Old Scheme mean is :',mean_Old,' New Scheme Mean is :',mean_New)

Old Scheme mean is : 68.03333333333333  New Scheme Mean is : 72.03333333333333

In [28]:
#Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)
ttest,pval = stats.ttest_rel(df['New Scheme (in thousands)'], df['Old Scheme (in thousands)'])
print(pval , ttest)
# From the p value (p > 0.05) it seems new scheme has not significantly raised output and hence we accept the null hypothesis

0.13057553961337662 1.5559143823544377

In [11]:
#What conclusion does the test (p-value) lead to?
# From the p value (p > 0.05) it seems new scheme has not significantly raised output , hence we accept null hypothesis

In [23]:
#Q - The probability of a type 1 error
#Probability of Type I error = significant level = 0.05 or 5%

In [33]:
#What is the p- value of the hypothesis test if we test for a difference of $5000?

# Null Hypothesis :  mean diff = Mean_new - Mean_old <= 5000
# Acceptable Hypothesis :  mean diff = Mean_new - Mean_old >5000
ttest,pval = stats.ttest_ind(df['New Scheme (in thousands)'], df['Old Scheme (in thousands)'])
print(pval)

0.49063515686248105

In [45]:
df['NewScheme'] = df['Old Scheme (in thousands)'] + 5
mean_newScheme = df['NewScheme'].mean()

In [51]:
#Power of the test
print(mean_Old ,mean_newScheme )

(mean_Old - mean_newScheme) / np.sqrt(((30-1)*np.var(df['Old Scheme (in thousands)'])+(30-1)*np.var(df['NewScheme'])) / 30+30-2)

68.03333333333333 73.03333333333333

-0.17567871042886843

In [53]:
print(ttest_power(-0.17,alpha=0.05,nobs=60, alternative='smaller'))

0.3657445876801987